#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gridDiv {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207 232 220);
    border: 2px solid rgb(79 185 227);
    width: 150px;
    height: 150px;
    transition: 0.5s 0.5s;
}

.gridDiv:hover {
    color: green;
    background-color: yellow;
    transition: all 0.5s;
}
